* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Roboto', 'Sans Serif';
  font-size: 16px;
  padding: 0;
  margin: 0; }

header {
  text-align: center;
  background-color: black;
  padding: 14px; }

h1, h2 {
  font-weight: 300; }

header > h1 {
  font-weight: 300;
  font-size: 24px;
  margin: 0;
  color: #FFFFFF; }

.chat-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  margin: 30px auto;
  height: 500px;
  border: 2px solid grey;
  padding: 20px 0px 5px 5px; }
  .chat-window .chat-log {
    overflow-y: scroll;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%; }
    .chat-window .chat-log__message {
      font-size: 11px;
      padding: 5px 10px;
      border-radius: 15px;
      clear: both;
      color: white;
      margin-bottom: 5px; }
      .chat-window .chat-log__message-bot {
        background-color: #22a0c7;
        float: left; }
      .chat-window .chat-log__message-user {
        background-color: #1ED75D;
        float: right; }
  .chat-window .reply-input {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }
    .chat-window .reply-input__input {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      border: 1px solid #ddd;
      border-radius: 15px;
      height: 30px;
      padding: 0px 15px 1px;
      margin-right: 5px;
      outline: none; }
    .chat-window .reply-input__button {
      background-color: #22a0c7;
      border: 1px solid #ddd;
      border-radius: 15px;
      outline: none;
      height: 30px;
      padding: 0px 15px 1px;
      color: white; }
